{% extends "base.html" %}

{% block extra_js %}
  <script type="module" src="static/js/features/01-dual-commander.js"></script>
{% endblock %}

{% block content %}
  <main class="container py-3">
    <h1>Dual Commander</h1>
    <div class="d-flex">
        <button type="button" id="single-panel-mode" class="btn btn-secondary m-2">Single Panel</button>
        <button type="button" id="dual-panel-mode" class="btn btn-primary m-2">Dual Panel</button>
    </div>
    <div class="showroom dual-panel container-fluid">
        <div class="row"> <!-- row -->
            <div class="col-6" id="panel_left">
            </div>
            <div class="col-6" id="panel_right">
            </div>  <!-- row -->
        </div>
    </div>
  </main>
{% endblock %}
